
/* H1 tags */
h1 { 
    background-color: rgb(50, 28, 70);
    color: white;
    text-align: center;
    }

.centerText {
    text-align: center;
    }
    
.workXP {
        display: inline-block;
        text-align: left;
        margin: 0 auto; /* This ensures centering */
    }
    
.centerList {
       text-align: center; /* Centers the inline-block UL */
}

.portrait {
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }



h2 {
    text-align: center;
    }

h3 {
    text-align: center;
    }

h4 {
    text-align: center;
    }

h5 {
    text-align: center;
    }

h6 {
    text-align: center;
    }

